
#wrapper {
    width: 992px;
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin-top: 10px;
    margin-left: auto ;
    margin-right: auto ;

    box-shadow: 0 .3em 1em black;
    -moz-box-shadow: 0 .3em 1em black;
    -webkit-box-shadow: 0 .3em 1em black;

    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#top {
    position: relative;
    background-color: #FFFFFF;
    color: white;
    padding: 0px;
    height:200px;
    width: 100%;
    margin: 0px 0px 30px 0px;
    /*background: url(../images/ubike-head.jpg) no-repeat;*/
}

#top-header-image {
    margin: 5px 0px 0px 0px;
    padding: 5px;
    height:170px;
    padding: 20px 5px 5px 10px;
    width: 100%;
    background: url(../images/ubike-head.jpg) no-repeat;
}

#top-menu {
    margin: 0px;
    width: 100%;
    height: 30px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
    border-bottom: thin solid #dddddd;
}


#main {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
}

#bottom {
    position: relative;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    border-top: thin solid #ccc;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 210px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sitename {
    display: block;
}

.sitename1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-style:italic;
    font-size:  40px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

.sitename2 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-style:italic;
    font-size:  40px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

.sitename3 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-style:italic;
    font-size:  18px;
    font-weight: bold;
    margin: 0px;
    padding-top: 7px;
    color: #FFFFFF;
    display: block;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #FFFFFF;
    border: thin solid #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 230px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


.cols{
    vertical-align: top;
}

.ecol1 {
    vertical-align: top;
    padding-right : 25px
}
.ecol2 {
    vertical-align: top;
    border-left: #ACBECE 1px solid;
    padding-left : 10px
}

.rf-p {
    padding: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.rich-calendar-tool-btn{
    font-family: Arial, Verdana;
}

.rf-p-hdr {
    height: 25px;
    margin: 0px 0px 5px 0px;
    vertical-align: middle;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.quick {
    font-family: Arial, Verdana;
    font-weight : bold;
    font-size : 4em;
    color:navy;
}
.look {
    font-family: Arial, Verdana;
    font-weight : bold;
    font-size : 4em;
    color:orange;
    padding-left: 10px;
}

.quickLookItems {
    background-color:inherit;
    font-family: Arial, Verdana;
    font-weight : bold;
    font-size : 10pt;
    color:#045491;
}

.me {
    background-color:orange;
}

.other {
    background-color:inherit;
}

.even-row {
    background-color: #FCFFFE;
}

.odd-row {
    background-color: #ECF3FE;
}

.active-row {
    background-color: #FFEBDA !important;
    cursor: pointer;
}

.bubbleinfo {
    display:table-cell;
    padding: 2px;
    vertical-align:middle;
    cursor:pointer;
}

.ub-p {
    padding: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
    /* border: thin solid #BED6F8; */
    border: thin solid #AAAAAA;
}

.ub-p-h {
    height: 25px;
    margin: 0px 0px 5px 0px;
    vertical-align: middle;
    padding: 5px 10px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    font-size: 15px;
    font-weight: normal;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */

    border-bottom: thin solid #dddddd;
}

.ub-p-b {
    padding: 10px;
}

.rf-msg {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.td1_signup {
    vertical-align:top;
}
.td2_signup {
    padding-left: 5px;
    vertical-align:top;
}

.rf-msg-inf {
    color: #00FF00;
}

.reflectBelow  { 
    -webkit-box-reflect: below 0
        -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white)); 
}