body {
    background-color: #F2F2F2;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font: normal normal normal 12px/18px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

input, textarea {
    padding: 5px;
    background-color: #FAFFBD;
    margin: 2px;
    font-size: 18px;
    text-shadow: 0px 1px 0px #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-weight: bold;
    font-size: 10px;
}

input:focus,textarea:focus {
    border:1px solid #AAAAAA;
    -webkit-box-shadow: 0px 0px 5px #007eff;
    -moz-box-shadow: 0px 0px 5px #007eff;
    box-shadow: 0px 0px 5px #007eff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #FAFFBD;
    
}

input[type=text], input[type=password],textarea {
    width: 93%;
    background-color:  #AFAFAF;
}

label {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-weight: bold;
    font-size: 11px;
    padding-left: 5px;
}

.button {
    padding: 3px 10px;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-weight: bold;
    font-size: 12px;
}